<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020  Gaurav Ujjwal.
  ~
  ~ SPDX-License-Identifier:  GPL-3.0-or-later
  ~
  ~ See COPYING.txt for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application>

        <activity-alias
            android:name=".UriReceiverActivity"
            android:exported="false"
            android:targetActivity=".ui.vnc.IntentReceiverActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="vnc" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.vnc.VncActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:ignore="UnusedAttribute"
            android:theme="@style/App.Theme" />

        <activity
            android:name=".ui.vnc.IntentReceiverActivity"
            android:theme="@style/App.SplashTheme.Dark" />

        <activity
            android:name=".ui.prefs.PrefsActivity"
            android:exported="false"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="com.gaurav.avnc.INTERNAL_ACTION_PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:theme="@style/App.Theme">
            <intent-filter>
                <action android:name="com.gaurav.avnc.INTERNAL_ACTION_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>